.cuerpo{
    background-color: #F2EBDF;
}

.carousel-inner{
    display: flex;
}

.carousel-item{
    flex: 0 0 auto;
    max-width: 200px;
}

.carousel-inner .carousel-item.active,
.carousel-inner .carousel-item-next,
.carousel-inner .carousel-item-prev{
    display: flex;
   
}